<div class="list">
  <div class="item">
    <div class="check">
      <input type="checkbox" />
      <div class="text">564</div>
    </div>
  </div>
  <div class="item">
    <div class="check">
      <input type="checkbox" />
      <div class="text">54</div>
    </div>
  </div>
  <div class="item">
    <div class="check">
      <input type="checkbox" />
      <div class="text">546</div>
    </div>
  </div>
  <div class="item">
    <div class="check">
      <input type="checkbox" />
      <div class="text">54</div>
    </div>
  </div>
  <div class="item">
    <div class="check">
      <input type="checkbox" />
      <div class="text">546354</div>
    </div>
  </div>

  <button (click)="close.emit()">apply</button>
</div>
